centralize(type = absolute, axis = both)
  if (type == block || type == inline-block)
    display: type

    if (axis == horizontal)
      margin-right: auto
      margin-left: @margin-right

    if (axis == both)
      margin-right: auto
      margin-left: @margin-right

  if (type == absolute || type == fixed)
    position: type

    if (axis == both)
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)
